/* Custom Font Rule Creation */
@font-face {
  font-family: 'ABeeZee';
  src: URL('../fonts/ABeeZee-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: URL('../fonts/Ubuntu-Bold.ttf');
}
body {
  background: #CFD8DC;
  margin-bottom: 100px;
  clear: both;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  background-color: #263238;
  color: grey;
  text-align: center;
  padding-top: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

#icon {
  max-width: 100px;
  max-height: 100px;
  padding: 5px;
  margin: 5px;
}

.nav {
  margin-bottom: 16px;
  font-family: 'Ubuntu', sans-serif;
}
.card {
  margin-bottom: 16px;
  font-family: 'ABeeZee', sans-serif;
}

#mapCard iframe{
  border: none;
  width: 98%;
  min-height: 500px;
  padding: 10px;
  margin: 10px;
}

.stopScroll {
  pointer-events: none;
}
iframe{
  width: 100%;
  min-height: 500px;
  border: 7px dotted #FFC107;
  padding: 10px;
  margin: 10px;
}
.active-reverse {
  color: #efefef !important;
  background-color: #263238 !important;
  border-color: #263238 !important;
}
.btn-secondary {
  color: #263238;
  background-color: #FFC107;
  border-color: #FFC107;
}
.btn-secondary:hover {
  color: #efefef;
  background-color: #263238;
  border-color: #263238;
}
.btn-group-vertical {
  margin-left: 20px;
}

.bg-amber {
  background-color: #263238;

}
.active {
  border-radius: 0 !important;
  height: 100%;
  background-color: #FFC107 !important;
  color: #263238 !important;
}
.nav-item {
  color: #FAF8F2;
  font-size: 50px;
  height: 100px;
}
.nav-item:hover {
  cursor: pointer;
  background-color: #FFD54F;
  color: #263238 !important;
}
.nav-pills .nav-link-active {
  border-radius: 0 !important;
}

#price-converter-swapped {
  display: none;
}

#price-converter-swapped2 {
  display: none;
}

#price-converter-swapped3 {
  display: none;
}

#price-header {
  font-size: 65px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}

#converter {
  display: none;
}

#converter2 {
  display: none;
}

#converter3 {
  display: none;
}

#graph {
  display: none;
  pointer-events: none;
}

.about{
  display: none;
}
.blockChain{
  display: none;
}
.mining{
  display: none;
}
.link:hover{
  cursor: pointer;
  color: #FFC107;
}

#showAbout{
  width: 220px;
}

#blockChain{
  width: 165px;
}
#mining{
  width: 100px;
}
#portfolioChart{
  display:none;
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}

#logo li li:hover {
  background-color:black;
}

#comparisonDisplay {
  display:none;
}
#eth-price {
  display: none;
}
#ltc-price {
  display: none;
}
